/*------------------------------------*\
    $MAIN CONTENT AREA
\*------------------------------------*/
[role=main] {
	@extend .cf;

	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-out;
	&.weather-active {
		visibility: visible;
		opacity: 1;
	}
}
.site-content {
	@extend .cf;
	display: block;
	overflow: hidden;
	background: $white;
	padding: $pad;
	max-width: 45em;
	margin: 0 auto;
}

