/*------------------------------------*\
    $FORMS
\*------------------------------------*/
form ol,
form ul {
	margin-left: 0;
	list-style: none;
}

fieldset {
	margin: 0;
	padding: 0;
	border: 0;
}

label {
	display: block;
	padding-bottom: $space-half;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0px;
	cursor: pointer;
}

input,
textarea {
	width: 100%;
	padding: $pad-half 0.65rem;
	border: $border__thin solid $gray;
	outline: none;
	&:focus {
		outline: none;
	}
}

input[type=text],
input[type=search],
input[type=url],
input[type=number],
textarea {
	-webkit-appearance: none;
}

button,
input[type="submit"] {
	@extend .btn--primary;
	&.tcon {
		padding: 0px;
		&:before,
		&:after {
			display: none;
		}
	}
}

input[type="checkbox"],
input[type="radio"] {
	width: auto;
	margin-right: 0.3em;
}

input[type="search"] {
	border-radius: 0;

	-webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

/* Form Field Container */
.field-container {
	margin-bottom: $space;
}

.inline-form {
	fieldset,
	.inline-container {
		position: relative;
	}

	input[type=submit],
	button,
	.btn {
		font-size: $font-size__small-2;
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		width: auto;
		padding: 0.65rem 1.3rem;
		background: $link__color;
		margin: $space 0rem;

		&:hover,
		&:focus {
			color: $white;
			background: $link__hover;
		}
	}
}

/* Validation */
.has-error {
	border-color: $error;
}
.is-valid {
	border-color: $valid;
}




/*------------------------------------*\
    $SPECIFIC FORMS
\*------------------------------------*/

.weather-form {
	max-width: 14em;
	margin: $space-double auto;
	.form-group {
		@extend .cf;
		position: relative;
		display: block;
		overflow: hidden;
		margin: $space 0rem;
		z-index: 100;
		input {
			background: transparent;
		}
	}
	input,
	label {
		text-align: center;
	}
	label {
		font-size: $font-size__small-2;
		display: block;
		width: 100%;
	}
	.js & {
		.form-group {
			&.label-active {
				label {
					opacity: 0;
				}
			}
		}
		label {
			position: absolute;
			transition: opacity 0.3s ease-out;
			opacity: 1;
			padding: .75rem;
			color: $gray-med;
			z-index: -1;
		}
	}
	input[type="submit"],
	button[type="submit"]{
		margin: $space auto;
		display: block;
	}

}

